<launch>

  <arg name="tf_node" default="tf" />
  <arg name="heatmap_node" default="thmho_heatmap_generator" />
  <arg name="node_namespace" default="THMHO"/>

  <include file="$(find thmho_heatmap_generator)/launch/office.launch" />
  <node name="$(arg heatmap_node)" pkg="$(arg heatmap_node)" type="heatmap_saver.py" output="screen">
  </node>
  
</launch>